body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container around the form */
.form-container {
    max-width: 400px;       
    margin: 50px auto;     
    padding: 30px;          
    border: 1px solid #ccc;  
    border-radius: 10px;     
    background-color: #f9f9f9; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(53, 130, 255);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.logo-link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
