footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #7fa9d3;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
  margin-top: 2rem;
}

body {
  margin: 0;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-navbar {
  background-color: #888788;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  position: fixed !important;
  width: 100%;
  z-index: 1050;
}

.custom-navbar .navbar-brand {
  font-weight: 700;
  color: #007bff;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-brand:hover {
  color: #0056b3;
}

.custom-navbar .nav-link {
  color: #333;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #007bff;
}

.custom-navbar .nav-link.active {
  color: #007bff;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hero-image {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Allow main content to grow and push the footer down */
main {
  flex: 1 0 auto;
  margin-top: 60px;
  /* grow and take available space */
}

.hero-text h1 {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 40px;
}

.hero-text button {
  position: absolute;
  top: 50%;
  left: 50%;
}

main {
  position: relative;
  z-index: 1;
}

#signup {
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #7fa9d3;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
  margin-top: 2rem;
}

.list-heading {
  position: static;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.list-item {
  list-style-type: none;
  padding: 0;
}

.list-box {
  background-color: #f8f9fa;
  border: 2px solid #7fa9d3;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.list-box:hover {
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#add-channel-btn {
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
}

#add-channel-btn:hover {
  background-color: #e0e0e0;
}

#add-course-btn {
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
}

#add_deadline {
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  text-align: center;
}
#add_deadline:hover {
  background-color: #e0e0e0;
}
#add_deadline a {
  text-decoration: none;
  color: inherit;
  width: 80vw;
  height: 5vw;
  font-size: 3em;
  margin-top: auto;
  margin-bottom: auto;
}
